/*---------------
    General
---------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
  min-width: 0;
}

#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(27, 28, 29, 0.9);
}

.settings-container {
  padding: 5px 0;
  color: #fff;
  font-size: 14px;
}

.settings-item {
  display: flex;
  min-height: 33px;
  align-items: center;
  padding: 2px 10px;
}

.settings-item:hover {
  background-color: rgba(255,255,255,.1);
}

.settings-item-content {
  margin-left: auto;
}


/*---------------
    Font size
---------------*/

.font-size-container {
  display: flex;
  align-items: center;
}

.font-size-btn-group {
  margin-right: 14px;
  line-height: 24px;
}

.font-size-btn {
  height: 32px;
  margin: 0;
  padding: 3px;
  font-size: 24px;
}

.font-size-btn:hover {
  color: #2185d0;
  font-weight: bold;
}

.font-size-btn:active {
  color: rgba(33, 133, 208, 0.65);
}

.font-size-btn-small {
  font-size: 18px;
  margin-right: 5px;
}

button, html input[type=button] {
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  background: transparent;
}

.font-size-text {
  width: 38px;
  text-align: right;
}


/*----------------------------------
    Transparent background toggle
----------------------------------*/

/* Overrides Semantic UI - Transparent background icon toggle */
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  background: rgba(255,255,255,.8);
}

/* Overrides Semantic UI - Transparent background toggle hover */
.ui.toggle.checkbox .box:hover::before,
.ui.toggle.checkbox input:focus~.box:before,
.ui.toggle.checkbox input:focus~label:before,
.ui.toggle.checkbox label:hover::before {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #e4e4e4;
}


/*----------------------------
    Synchronization slider
----------------------------*/

.synchronization-range {
  padding: 12px 0;
  text-align: right;
}

/* Overrides default slider range bar */
input[type="range"] {
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 50rem;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 3px 0px;
  outline: 0;
  height: 0.4em;
  width: 160px;
}

input[type="range"]::-moz-range-track {
  border-width: 1px;
  border-style: solid;
  border-radius: 50rem;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  outline: 0;
  height: 4px;
  width: 160px;
}

/* Overrides default slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* background: #89B84C; */
  background: #2185d0;
  border-radius: 50rem;
  height: 1.4em;
  width: 1.4em;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  /* background: #89B84C; */
  background: #2185d0;
  border-radius: 50rem;
  height: 1.4em;
  width: 1.4em;
  cursor: pointer;
  border: none;
}


/*----------------------------
    Synchronization input
----------------------------*/

.synchronization-input {
  display: flex;
  padding-bottom: 5px;
}

.synchronization-input .ui.input {
  width: 60px;
  margin-right: 5px;
  border-bottom: dashed 1px #fff;
}

.synchronization-input .ui.input input {
  text-align: center;
  color: #fff;
}

.synchronization-speed-text {
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.5);
}
