.sbtl-abs-center {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}

.sbtl-subtitles-text {
  display: block;
  line-height: 100%;
  border-radius: 4px;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  white-space: nowrap;
}

.sbtl-subtitles-ytp > .sbtl-subtitles-text {
  position: absolute;
  text-align: center;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  padding: 0px 5px;
  border-radius: 2.5px;
  z-index: 60;
  color: #fff;
  font-size: 1.8em;
}

.sbtl-subtitles-dmp {
  bottom: 0px;
  top: 0;
  z-index: 10;
  left: 12px;
  right: 12px;
  position: absolute;
}

.sbtl-subtitles-dmp > .sbtl-subtitles-text {
  position: absolute;
  text-align: center;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  padding: 0px 5px;
  border-radius: 2.5px;
  z-index: 60;
  color: #fff;
  font-size: 1.8em;
}

.sbtl-subtitles-dmp > .sbtl-subtitles-text {
  padding: 0px 5px;
}

.sbtl-subtitles-vimeo {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.sbtl-subtitles-vimeo > .sbtl-subtitles-text {
  padding: 0.3em 0.4em;
}

.sbtl-subtitles-primevideo {
  bottom: 60px;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  z-index: 50;
}

.sbtl-subtitles-primevideo > .sbtl-subtitles-text {
  padding: 0px 5px;
  border-radius: 2.5px;
}

/* UI "desktop windows" when the controls are hidden */
.inactive .sbtl-subtitles-netflix {
  bottom: 11%;
}

.passive .sbtl-subtitles-netflix {
  bottom: 11%;
}

/* UI "ubuntu" when the controls are hidden */
.player-cinema-mode .sbtl-subtitles-netflix {
  bottom: 11%;
}

.sbtl-subtitles-netflix {
  bottom: 20%;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  /* text-shadow: #000000 0px 0px 7px; */
}

.sbtl-subtitles-netflix > .sbtl-subtitles-text {
  display: block;
  border-radius: 2.5px;
  padding: 4px 6px;
}

.sbtl-subtitles-fandangonow {
  bottom: 90px;
  z-index: 1;
}

.sbtl-subtitles-fandangonow > .sbtl-subtitles-text {
  display: block;
  padding: 0px 5px;
  border-radius: 2.5px;
}

.sbtl-subtitles-partial {
  z-index: 1110;
  bottom: 10%;
}

.sbtl-subtitles-partial > .sbtl-subtitles-text {
  display: block;
  padding: 4px 5px;
  border-radius: 2.5px;
  line-height: 100%;
}

.sbtl-subtitles.sbtl-subtitles-metastream {
  bottom: 125px;
  z-index: 10;
}

.sbtl-subtitles-disneyplus {
  bottom: 144px;
  z-index: 1; /* Just enough to make the text selectable */
}

.sbtl-subtitles-disneyplus > .sbtl-subtitles-text {
  border-radius: 2.5px;
  /* Padding is not set initially or else it would
  create an empty square on the screen when there is
  a subtitles background even when no subtitles are
  shown. Padding is set dynamically when a subtitle
  appears, logic in SubtitlesLogic.js */
}

.sbtl-subtitles-hbomax {
  bottom: 18%;
  z-index: 10; /* Just enough to make the text selectable */
}

